.outerGrid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
}

.baseStatsGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.growthRateGrid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
